@media (min-width: 650px) {
    #hamburger-btn {
        display: none;
    }

    nav {
        display: block !important;
        width: auto;
        margin-top: 0;
    }

    nav ul {
        flex-direction: row;
        gap: 1rem;
    }

    nav a {
        background-color: transparent;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}